/* 详情页样式 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?3a2xdr');
    src: url('../fonts/icomoon.eot?3a2xdr#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3a2xdr') format('truetype'), url('../fonts/icomoon.woff?3a2xdr') format('woff'), url('../fonts/icomoon.svg?3a2xdr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.de_container {
    margin-top: 25px;
}

.crumb_wrap {
    height: 25px;
}

.crumb_wrap a {
    margin-right: 10px;
}

.preview_wrap {
    position: relative;
    width: 400px;
    height: 559px;
}

.preview_img {
    width: 402px;
    height: 402px;
    border: 1px solid #ccc;
}

.preview_list {
    height: 60px;
    margin-top: 60px;
}

.preview_list ul {
    width: 330px;
    margin: 0 auto;
}

.preview_list ul li {
    float: left;
    width: 62px;
    height: 62px;
    margin: 0 1px;
    border: 2px solid transparent;
}

.preview_list li.current {
    border-color: #e53e41;
}

.preview_list a {
    display: inline-block;
    width: 21px;
    height: 32px;
    margin-top: 15px;
    background-color: pink;
}

.preview_list .arrow_prev {
    float: left;
}

.preview_list .arrow_next {
    float: right;
}

.preview_info {
    position: absolute;
    bottom: 0;
    font-size: 12px;
}

.preview_info a {
    margin: 0 18px;
}

.preview_info img {
    width: 11px;
    height: 11px;
}

.itemInfo_wrap {
    width: 718px;
    font-weight: 700;
}

.sku_name {
    height: 30px;
    font-size: 16px;
}

.news {
    height: 30px;
    font-size: 12px;
    color: #e12228;
}

.summary_price, .summary_promotion {
    position: relative;
    padding: 10px 0;
    background-color: #fee9eb;
}

.summary_promotion {
    padding-top: 0;
}

.summary_promotion dd {
    width: 540px;
    line-height: 36px;
    color: #999;
}

.summary_promotion em {
    display: inline-block;
    width: 40px;
    height: 22px;
    background-color: #c81623;
    text-align: center;
    line-height: 22px;
    color: #fff;
}

.summary dt {
    width: 60px;
    line-height: 36px;
    padding-left: 10px;
}

.summary dt, .summary dd {
    float: left;
}

.price {
    font-size: 24px;
    color: #e12228;
}

.summary_price a {
    font-size: 12px;
    color: #c81623;
}

.remark {
    position: absolute;
    top: 15px;
    right: 10px
}

.summary_support dd {
    color: #999;
    line-height: 36px;
}

.summary_stock {
    border-bottom: 1px solid #ccc;
}

.summary_stock dd {
    line-height: 36px;
    color: #999;
}

.summary_stock dd div {
    line-height: 27px;
}

.summary_stock dd em::after {
    content: '\ea51';
    font-family: icomoon;
}

.summary_stock dd i::after {
    content: '\ea51';
    font-family: icomoon;
}

.choose_color {
    margin-top: 17px;
}

.choose_color a {
    display: inline-block;
    width: 82px;
    height: 42px;
    margin: 0 8px;
    border: 1px solid #ededed;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 36px;
}

.summary a.current {
    border-color: #c81623;
}

.choose_version {
    margin: 10px 0;
}

.choose_version a, .choose_volume a, .choose_type a {
    display: inline-block;
    height: 32px;
    margin: 0 9px;
    padding: 0 12px;
    border: 1px solid #ededed;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 32px;
}

.choose_type {
    margin-top: 9px;
}

.choose_btns {
    margin-top: 22px;
}

.choose_amount {
    position: relative;
    float: left;
    width: 50px;
    height: 46px;
    border: 1px solid #ccc;
}

.choose_amount input {
    width: 33px;
    height: 44px;
    border: 1px solid #ccc;
    text-align: center;
}

.choose_amount .add {
    position: absolute;
    width: 15px;
    height: 22px;
    border: 1px solid #ccc;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 22px;
}

.choose_amount .reduce {
    position: absolute;
    width: 15px;
    height: 22px;
    border: 1px solid #ccc;
    right: 0;
    bottom: 0;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 22px;
    cursor: not-allowed;
}

.choose_btns>a {
    float: left;
    width: 142px;
    height: 46px;
    background-color: #c81623;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 46px;
}

/* 产品信息详情 */

.product_detail {
    margin-top: 30px;
}

.aside {
    width: 209px;
    border: 1px solid #ccc;
}

.tab_list {
    width: 100%;
    height: 33px;
}

.tab_list ul li {
    float: left;
    height: 33px;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 33px;
    color: #333333;
}

.tab_list li.current {
    background-color: #fff;
    color: #c81623;
    border-bottom: 0;
}

.first_tab {
    width: 104px;
}

.second_tab {
    width: 103px;
    border-left: 1px solid #ccc;
}

.tab_con ul li:nth-child(-n+10) {
    float: left;
    width: 92px;
    height: 27px;
    color: #333;
    text-align: center;
    line-height: 27px;
}

.tab_con {
    padding: 0 10px;
}

.tab_con ul li:nth-child(-n+2) {
    border-bottom: 2px dashed #ededed;
}

.tab_con ul li:nth-child(n+3) {
    border-bottom: 1px dashed #ededed;
}

.tab_con ul li:nth-child(n+9) {
    border: 0;
}

.detail {
    width: 978px;
}

.tab_con .bb {
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #333;
}

.tab_con ul li.aside_img_1 {
    padding-bottom: 22px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-weight: 400;
}

.aside_img_1 h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.aside_img_1 a {
    display: block;
    width: 91px;
    height: 26px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 26px;
}

.detail_tab_list {
    height: 39px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.detail_tab_list ul li {
    float: left;
    height: 37px;
    padding: 0 20px;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
}

.detail_tab_list ul li.current {
    background-color: #c81623;
    color: #fff;
}

.item {
    padding: 20px 0 0 20px;
}

.item li {
    line-height: 22px;
}

.more {
    float: right;
    margin-bottom: 10px;
}

.more::after {
    content: '\ea51';
    font-family: icomoon;
}