/* 主体 */

.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 730px;
    height: 455px;
}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
}

.lifeservice {
    height: 209px;
}

.bargain {
    margin-top: 5px;
}

.news {
    border: 1px solid #e4e4e4;
}

.news_hd {
    height: 33px;
    line-height: 33px;
    padding: 0 25px;
    border-bottom: 1px dashed #e4e4e4;
}

.news_hd h5 {
    float: left;
    font-size: 14px;
}

.news_hd .more {
    float: right;
}

.more::after {
    content: '\ea52';
    font-family: 'icomoon';
}

.news_bd {
    padding: 5px 17px 0;
}

.news_bd ul li {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i:nth-child(1) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -19px -16px;
}

.lifeservice ul li i:nth-child(2) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -77px -16px;
}

.lifeservice ul li i:nth-child(3) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -140px -16px;
}

.lifeservice ul li i:nth-child(4) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -205px -16px;
}

.lifeservice ul li i:nth-child(5) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -16px -88px;
}

.lifeservice ul li i:nth-child(6) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -77px -88px;
}

.lifeservice ul li i:nth-child(7) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -140px -88px;
}

.lifeservice ul li i:nth-child(8) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -205px -88px;
}

.lifeservice ul li i:nth-child(9) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -17px -159px;
}

.lifeservice ul li i:nth-child(10) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -77px -159px;
}

.lifeservice ul li i:nth-child(11) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -140px -159px;
}

.lifeservice ul li i:nth-child(12) {
    display: inline-block;
    width: 19px;
    height: 24px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -205px -159px;
}

/* 推荐模块 */

.recom {
    margin-top: 12px;
    height: 163px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    width: 204px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
    width: 234px;
    height: 161px;
}

.recom_bd ul li img {
    width: 234px;
    height: 161px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/* floor模块 */

.jiadian {
    margin-top: 30px;
}

.shouji {
    margin-top: 30px;
}

.diannao {
    margin-top: 30px;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.box_hd .tab_list {
    line-height: 30px;
    float: right;
}

.box_hd .tab_list ul li {
    float: left;
}

.box_hd .tab_list ul li a {
    margin: 0 15px;
}

.box_bd {
    height: 361px;
}

.tab_list_item>div {
    float: left;
}

.col_211 {
    width: 211px;
    height: 361px;
    text-align: center;
    background-color: #f9f9f9;
}

.col_211 ul {
    padding-left: 12px;
}

.col_211 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    text-align: center;
    line-height: 34px;
}

.col_329 {
    width: 329px;
}

.col_220 {
    width: 220px;
    border-right: 2px solid #ededed;
}

.fixedtool {
    position: fixed;
    top: 350px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
}

.fixedtool ul li {
    width: 66px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.fixedtool .current {
    background-color: #c81623;
    color: #fff;
}